<template>
  <v-container fluid class="pa-0">
    <v-layout class="board" row wrap>
      <v-flex md6 sm12 xs12>
        <div class="text-xs-left">
          <template v-for="(item, index) in history" >
            <v-chip :key="index">
              <v-avatar>
                <img :src="item.avatar" alt="trevor">
              </v-avatar>
              <strong>{{item.username}}</strong>
              <v-chip>{{item.text}}</v-chip>
            </v-chip>
          </template>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { eventBus } from '@/assets/js/feature';
import { getRandomNumber } from '@/assets/js/utils';
import { talkHistory } from '@/assets/js/mockup';

export default {
  created() {
    eventBus.$on('reflashTalkHistory', () => {
      this.history = talkHistory(getRandomNumber(5, 15));
    });
  },
  beforeDestroy() {
    eventBus.$off('reflashTalkHistory');
  },
  data() {
    return {
      history: talkHistory(getRandomNumber(5, 15))
    };
  }
};
</script>
