<template>
  <v-app class="content">
    <User />
    <Board />
  </v-app>
</template>


<script>
import User from '@/components/content/talk/user';
import Board from '@/components/content/talk/board';

export default {
  name: 'Talk',
  components: {
    User, 
    Board
  },
  data() {
    return {};
  }
};
</script>