<template>
  <v-layout row class="user">
    <v-flex xs12>
      <v-card>
        <v-list two-line>
          <template v-for="(item, index) in items">
            <v-subheader v-if="item.header" :key="item.header" >
              {{ item.header }}
            </v-subheader>
            <v-divider v-else-if="item.divider" :inset="item.inset" :key="index" ></v-divider>
            <v-list-tile v-else :key="item.title" avatar v-on:click="procTalkUser(item.token)" >
              <v-list-tile-avatar>
                <img :src="item.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { user } from '@/assets/js/mockup';
import { eventBus } from '@/assets/js/feature';

export default {
  data() {
    return {
      items: [{ 
        header: '대화 가능 사용자' 
      }].concat(user(30))
    };
  },
  methods: {
    procTalkUser() {
      /**
       * @TODO 채팅창 활성화 
       */

      /**
       * @TODO 사용자 토큰에 의한 채팅 활성화 
       */

      // 임시 코드
      eventBus.$emit('reflashTalkHistory');
    }
  },
  computed: {

  }
};
</script>