<template>
  <v-toolbar v-bind:class="{ logined:isLogin }" app>
    <v-toolbar-title class="headline">
      <span><strong>Genius</strong>&nbsp;</span>
      <span class="font-weight-light title">for KAKAO</span>
    </v-toolbar-title>
      <router-link class="alarm" to="/alarm">
        <v-btn flat icon>
          <v-icon>restore</v-icon>
        </v-btn>
      </router-link>
      <router-link class="talk" to="/talk">
        <v-btn flat icon>
          <v-icon>message</v-icon>
        </v-btn>
      </router-link>
    <v-spacer></v-spacer>
    <v-layout row justify-end>
      <v-btn v-if="!isLogin" color="yellow" v-on:click="kakaoLogin">개인정보 탈취받기</v-btn>
      <v-flex v-else sm5 hidden-xs-only >
        <v-avatar>
          <img v-bind:src="getUserImage" style="background-color: gray;">
        </v-avatar>
        &nbsp;
        <strong v-html="getUserName"></strong>
      </v-flex>
    </v-layout>
  </v-toolbar> 
</template>

<script>
import store from '@/store';
import { procAjaxUser } from '@/assets/js/feature';

export default {
  data() {
    return {};
  },
  methods: {
    kakaoLogin: () => {
      const kakaoJSKey = '79f80a6448bd575ba743ed1534426c0c';

      /* eslint-disable */
      Kakao.init(kakaoJSKey);
      Kakao.Auth.login({
        success: authObj => {
          procAjaxUser(authObj, () => {
            store.dispatch('getAlarmList');
          });
        },
        fail: error => {
          alert(JSON.stringify(error));
        }, 
        always: () => {},
        persistAccessToken: true,
        persistRefreshToken: false,
        throughTalk: true
      });
      /* eslint-enable */
    }
  },
  computed: {
    isLogin: {
      get: () => store.state.userInfo !== null
    },
    getUserName: {
      get: () => {
        if (store.state.userInfo) {
          return store.state.userInfo.userName;
        }
      }
    },
    getUserImage: {
      get: () => {
        if (store.state.userInfo) {
          return store.state.userInfo.userImage;
        }
      }
    }
  }
};
</script>