html {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0px;

  &:not(.logined){
    bottom: 0px;
    left: 0px;
    right: 0px;

    > div {
      height: auto !important;

      .layout.row.justify-end {
        position: absolute;
        top: calc(50% - 48px / 2);
        left: calc(50% - 148px / 2);
      }
    }
  }
}

.content {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;

  /* 알람 리스트 */
  .toolbar {
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;

    > button {
      float: right;
    }
  }

  .alarm_list {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 80px;
    overflow: auto;
  }

  /* 대화방 */
  .user {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 80px;
    width: 250px;
    overflow: auto;
  }
  
  .board{
    position: absolute;
    top: 0;
    bottom: 80px;
    left: 260px;
    right: 0;
    background-color: #fff;
  }

}

a {
  color: black;
}