<template>
  <v-app class="content">
    <Toolbar />
    <Popup />
    <List />
  </v-app>
</template>

<script>
import store from '@/store';
import Toolbar from '@/components/content/alarm/toolbar';
import Popup from '@/components/content/alarm/popup';
import List from '@/components/content/alarm/list';

export default {
  name: 'Alarm',
  components: {
    Toolbar,
    Popup,
    List
  },
  mounted() {
    this.$nextTick(() => {
      const userSessionInfo = JSON.parse(sessionStorage.getItem('userInfo'));

      if (userSessionInfo) {
        store.commit('setUserInfo', userSessionInfo);
        
        store.dispatch('getAlarmList');
      }
    });
  },
  data() {
    return {};
  }
};
</script>