<template>
  <div class="alarm_list">
    <v-data-table :class="['elevation-1', 'add_alarm_list']" v-model="selected" :loading="loading" :headers="headers" :items="getAlarmList" :select-all="isDeleteMode" disable-initial-sort >
      <template slot="no-data">
        <v-alert :value="true" color="error" icon="warning">
          Sorry, nothing to display here :(
        </v-alert>
      </template>
      <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
      <template slot="items" slot-scope="props">
        <td v-if="isDeleteMode">
          <v-checkbox v-model="selected" :value="props.item" primary hide-details ></v-checkbox>
        </td>
        <td align="center">
          <v-flex xs12>
            <v-tooltip v-bind="{right : isLogin, disabled : !isLogin}">
              <template v-if="props.item.status === 1">
                <v-btn slot="activator" icon v-on:click="toggleStatus(props.item, false)">
                  <v-progress-circular :width="3" :size="20" indeterminate color="primary"></v-progress-circular>
                </v-btn>
                <span v-if="isLogin">작업 중지</span>
              </template>
              <template v-else>
                <v-btn slot="activator" icon @click="toggleStatus(props.item, true)">
                  <v-icon>play_arrow</v-icon>
                </v-btn>
                <span v-if="isLogin">작업 시작</span>
              </template>
            </v-tooltip>
          </v-flex>
        </td>
        <td align="center" v-html="props.item.username"></td>
        <td align="center" v-html="props.item.subject"></td>
        <td align="center" v-html="props.item.unitType.year"></td>
        <td align="center" v-html="props.item.unitType.month"></td>
        <td align="center" v-html="props.item.unitType.dayOfMonth"></td>
        <td align="center" v-html="props.item.unitType.dayOfWeek"></td>
        <td align="center" v-html="props.item.unitType.hours"></td>
        <td align="center" v-html="props.item.unitType.minutes"></td>
        <td align="center" v-if="isLogin">
          <v-btn slot="activator" icon @click="setUpdateMode(props.item)">
            <v-icon>edit</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import assign from 'object-assign';

import store from '@/store';
import Alarm from '@/assets/js/alarm';
import { eventBus } from '@/assets/js/feature';

const headers = (list => {
  return list.map(elem => {
    return {
      text: elem.toUpperCase(),
      align: 'center',
      sortable: ~['status', 'username'].indexOf(elem),
      value: elem
    };
  });
})(['status', 'username', 'subject', 'year', 'month', 'dayOfWeek', 'dayOfMonth', 'hours', 'minutes']);

export default {
  created() {
    eventBus.$on('deleteAlarm', () => {
      if (this.selected.length < 1) {
        return;
      }

      if (confirm(this.selected.length + ' 건의 알림을 삭제 하시겠습니까?')) {
        store.dispatch('deleteAlarm', this.selected.map(item => {
          return item.id;
        }));
      }

      this.selected = [];
    });
  },
  data() {
    return {
      selected: [],
      pagination: {},
      loading: true,
      headers
    };
  },
  methods: {
    toggleStatus(item, flag) {
      if (this.isLogin) {
        item.status = flag ? 1 : 0;
  
        store.dispatch('updateAlarm', assign(new Alarm(), item));
      }
    }, 
    setUpdateMode(item) {
      eventBus.$emit('setUpdatePopup', item);

      store.commit('setMode', 2);
    }
  },
  computed: {
    getAlarmList: {
      get: () => store.state.alarmList
    },
    isDeleteMode: {
      get: () => store.state.editMode === 3
    },
    isLogin: {
      get: () => store.state.userInfo !== null
    }
  },
  watch: {
    getAlarmList() {
      this.loading = false;
    }, 
    isLogin() {
      this.headers = (list => {
        return list.map(elem => {
          return {
            text: elem.toUpperCase(),
            align: 'center',
            sortable: ~['status', 'username'].indexOf(elem),
            value: elem
          };
        });
      })(['status', 'username', 'subject', 'year', 'month', 'dayOfWeek', 'dayOfMonth', 'hours', 'minutes', 'edit']);
    }
  }
};
</script>
