<template>
  <v-dialog v-model="isShowPopup" persistent max-width="560px">
      <v-card>
        <v-card-title>
          <span v-if="isInsertMode" class="headline">새 알람 추가하기</span>
          <span v-else class="headline">알람 편집하기</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="제목" required hint="알림 구분을 위한 별칭" v-model="subject" persistent-hint ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="전달 메세지" required hint="전달할 메세지" v-model="message" persistent-hint ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="year" label="년"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="month" label="월"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="dayOfMonth" label="일"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-autocomplete :items="['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']" label="요일" v-model="dayOfWeek" multiple small-chips ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field label="시" v-model="hours" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field label="분" v-model="minutes" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>* 개인정보 탈취에 동의하며 어떠한 법적 효력도 가질 수 없습니다.</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <template v-if="isInsertMode">
            <v-btn color="" flat v-on:click="hidePopup">취소</v-btn>
            <v-btn color="info" v-on:click="procSaveAlarm">저장</v-btn>
          </template>
          <template v-else>
            <v-btn flat @click="hidePopup">취소</v-btn>
            <v-btn color="info" v-on:click="procUpdateAlarm">수정</v-btn>
          </template>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import assign from 'object-assign';

import store from '@/store';
import Alarm from '@/assets/js/alarm';
import { eventBus, parseDayofWeek } from '@/assets/js/feature';

export default {
  created() {
    eventBus.$on('setInsertPopup', () => {
      assign(this, new Alarm());
    });

    eventBus.$on('setUpdatePopup', data => {
      assign(this, data);

      for (let prop in data) {
        if (prop === 'dayOfWeek') {
          if (data[prop] === '*') {
            this[prop] = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
          } else if (~data[prop].indexOf('-')) {
            const idxList = data[prop].split('-');

            this[prop] = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'].slice(idxList[0], +idxList[1] + 1);
          } else {
            this[prop] = data[prop].split(',').map(prop => {
              return ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'][prop];
            });
          }
        } else {
          this[prop] = data[prop];
        }
      }
    });
  },
  data() {
    return assign({}, new Alarm());
  },
  methods: {
    hidePopup() {
      store.commit('setMode', 0);
    },
    getPopupData() {
      return {
        subject: this.subject,
        message: this.message, 
        status: this.status,
        id: this.id, 
        userName: this.username,
        unitType: {
          year: this.year,
          month: this.month, 
          dayOfMonth: this.dayOfMonth,
          hours: this.hours,
          minutes: this.minutes,
          dayOfWeek: parseDayofWeek(this.dayOfWeek)
        }
      };
    },
    procSaveAlarm() {
      store.dispatch('insertAlarm', this.getPopupData());
      
      this.hidePopup();
    }, 
    procUpdateAlarm() {
      store.dispatch('updateAlarm', this.getPopupData());

      this.hidePopup();
    }
  },
  computed: {
    isShowPopup: {
      get: () => (store.state.editMode === 1 || store.state.editMode === 2)
    },
    isInsertMode: {
      get: () => store.state.editMode === 1
    }
  }
};
</script>

