<template>
  <div class="toolbar" v-if="isLogin">
    <v-btn color="error" dark v-if="isDeleteMode" v-on:click="deleteAlarm">REMOVE CONFIRM</v-btn>
    <v-btn color="success" dark v-else v-on:click="setDeleteMode(true)">REMOVE</v-btn>
    <v-btn color="primary" dark v-on:click="showAddPopup">ADD ALARM</v-btn>
  </div>
</template>

<script>
import store from '@/store';
import { eventBus } from '@/assets/js/feature';

export default {
  data() {
    return {};
  }, 
  methods: {
    showAddPopup() {
      eventBus.$emit('setInsertPopup');

      store.commit('setMode', 1);
    },
    setDeleteMode(flag) {
      if (flag) {
        store.commit('setMode', 3);
      } else {
        store.commit('setMode', 0);
      }
    },
    deleteAlarm() {
      eventBus.$emit('deleteAlarm');

      this.setDeleteMode(false);
    }
  },
  computed: {
    isDeleteMode: {
      get: () => store.state.editMode === 3
    }, 
    isLogin: {
      get: () => store.state.userInfo !== null
    }
  }
};
</script>