<template>
  <v-app>
    <Header class="header"/>
    <router-view></router-view>
  </v-app>
</template>

<script>
import Header from '@/components/header';

export default {
  name: 'App',
  components: {
    Header
  },
  data() {
    return {};
  }
};
</script>

<style lang="less" src="@/assets/less/app.less"></style>